body {
	text-align: center;
	border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: #F9F9F9;
    padding: 70px;
}

img {
	border: 1px solid black;
	float: right;
	width: 200px;
	margin-right: 60px;
}

h1 {
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
}


.other-paragraphs {
	font-weight: bold; 
}

ul {
	list-style: inside;
}